@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-card {
    max-width: 350px;
    margin-top: 20px;
  }
  .form{
    width: 40%;
    margin-top: 20px;
    border: 5px solid black;
}
